<main>
  <div class="app-container">
    <div class="text-wrapper" *ngIf="!hasData">
      <p [appAutoFontSize]="eventName" class="title-text">
        Please enter an event
      </p>
    </div>
    <div class="text-wrapper" *ngIf="hasData">
      <p [appAutoFontSize]="eventName + countdownText" class="title-text">
        Time to {{ eventName }}
      </p>
      <p [appAutoFontSize]="eventName + countdownText" class="date-text">
        {{ countdownText }}
      </p>
    </div>
    <div class="inputs">
      <div class="outlined-input">
        <label for="title">Title</label>
        <input
          id="title"
          type="text"
          [(ngModel)]="eventName"
          (ngModelChange)="onChange()"
        />
      </div>
      <div class="outlined-input">
        <label for="date">Date</label>
        <input
          id="date"
          type="date"
          [(ngModel)]="eventDate"
          (ngModelChange)="onChange()"
        />
      </div>
    </div>
  </div>
</main>
