@font-face {
  font-family: 'Open Sauce One';
  src: url('/assets/fonts/open-sauce-one-latin-400-normal.woff2') format('woff2'),
       url('/assets/fonts/open-sauce-one-latin-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce One';
  src: url('/assets/fonts/open-sauce-one-latin-800-normal.woff2') format('woff2'),
  url('/assets/fonts/open-sauce-one-latin-800-normal.woff2') format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.text-wrapper p {
  width: 100%;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.title-text {
  color: #72035d;
  font-weight: 800;
}

.date-text {
  font-weight: 400;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  background: #f5f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sauce One', sans-serif;
  box-sizing: border-box;
  padding: 24px;
  gap: 24px;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  max-width: 800px;
  justify-content: center;
  margin-top: 50px;
}

.outlined-input {
  position: relative;
  margin-bottom: 1.5rem;
}

.outlined-input input {
  width: 278px;
  height: 54px;
  padding: 1rem 0.8rem;
  font-size: 1.1rem;
  border: 1px solid #555;
  border-radius: 6px;
  background: #f5f3f3;
  color: #000000;
  box-sizing: border-box;
}

.outlined-input label {
  position: absolute;
  top: -0.6rem;
  left: 1rem;
  background-color: #f5f3f3;
  padding: 0 0.4rem;
  font-size: 0.85rem;
  color: #000000;
}

@media (orientation: portrait) {
  .app-container {
    flex-direction: column;
    gap: 3rem;
    max-width: 100%;
    height: 100%;
  }

  .inputs {
    flex-direction: column;
    gap: 1rem;
    max-width: 80%;
  }

  .outlined-input input {
    width: 100%;
  }
}
